[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotfiles/dotfiles/vim/pack/themes/start/dracula"]
	path = dotfiles/dotfiles/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "dotfiles/config/fish/bass"]
	path = dotfiles/config/fish/bass
	url = git@github.com:edc/bass.git
[submodule "dotfiles/vim/pack/plugins/vim-rails"]
	path = dotfiles/vim/pack/plugins/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "dotfiles/vim/pack/plugins/vim-vue"]
	path = dotfiles/vim/pack/plugins/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "dotfiles/vim/pack/plugins/vim-coffee-script"]
	path = dotfiles/vim/pack/plugins/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "dotfiles/vim/pack/nvim-lspconfig"]
	path = dotfiles/vim/pack/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "dotfiles/vim/pack/plugins/vim-rspec"]
	path = dotfiles/vim/pack/plugins/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "dotfiles/vim/pack/plugins/vim-endwise"]
	path = dotfiles/vim/pack/plugins/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "dotfiles/vim/pack/plugins/start/vim-endwise"]
	path = dotfiles/vim/pack/plugins/start/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "dotfiles/vim/pack/plugins/start/vim-prettier"]
	path = dotfiles/vim/pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "dotfiles/vim/pack/plugins/start/vim-coffee-script"]
	path = dotfiles/vim/pack/plugins/start/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "dotfiles/vim/pack/plugins/start/vim-rspec"]
	path = dotfiles/vim/pack/plugins/start/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "dotfiles/vim/pack/plugins/start/vim-rails"]
	path = dotfiles/vim/pack/plugins/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "dotfiles/vim/pack/plugins/start/vim-vue"]
	path = dotfiles/vim/pack/plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "dotfiles/vim/pack/plugins/start/nvim-lspconfig"]
	path = dotfiles/vim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "dotfiles/vim/pack/plugins/start/plenary.nvim"]
	path = dotfiles/vim/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "dotfiles/vim/pack/plugins/start/ripgrep"]
	path = dotfiles/vim/pack/plugins/start/ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
[submodule "dotfiles/vim/pack/plugins/start/telescope.nvim"]
	path = dotfiles/vim/pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "dotfiles/vim/pack/plugins/start/nvim-tree.lua"]
	path = dotfiles/vim/pack/plugins/start/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "dotfiles/vim/pack/plugins/start/telescope-file-browser.nvim"]
	path = dotfiles/vim/pack/plugins/start/telescope-file-browser.nvim
	url = git@github.com:nvim-telescope/telescope-file-browser.nvim.git
[submodule "dotfiles/vim/pack/plugins/start/nerdtree"]
	path = dotfiles/vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "dotfiles/vim/pack/plugins/start/vim-javascript"]
	path = dotfiles/vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "dotfiles/vim/pack/plugins/start/vim-rubocop"]
	path = dotfiles/vim/pack/plugins/start/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule "dotfiles/vim/pack/plugins/start/vim-fugitive"]
	path = dotfiles/vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
