[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotfiles/dotfiles/vim/pack/themes/start/dracula"]
	path = dotfiles/dotfiles/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
